header {
  background-image: url(/assets/mobile/bg-pattern-header.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 136px;

  @media screen and (min-width: 48em) {
    background-image: url(/assets/tablet/bg-pattern-header.svg);
    height: 160px;
  }

  @media screen and (min-width: 75em) {
    background-image: url(/assets/desktop/bg-pattern-header.svg);
    background-position: top;
    background-size: contain;
    height: 160.54px;
  }

  input[type='checkbox'] {
    --active-inner: hsl(var(--color-primary-violet));
    --active: white;
    --background-default: white;
    --border-default: hsl(var(--color-primary-light-violet));
    --border-hover: hsl(var(--color-primary-light-violet));
    --disabled-inner: #e1e6f9;
    --disabled: #f6f8ff;
    --focus: 2px rgba(89, 100, 224, 0.35);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--background-active, var(--background-default));
    cursor: pointer;
    display: inline-flex;
    height: 1.38rem;
    margin: 0;
    outline: none;
    position: relative;
    transition:
      background 0.3s,
      border-color 0.3s,
      box-shadow 0.2s;
    vertical-align: top;

    &::after {
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      transition:
        transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }

    &:checked {
      --background-active: var(--active);
      --border-color: var(--active);
      --d-o: 0.3s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
      --d-t: 0.6s;
    }

    &:disabled {
      --background-active: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;

      &:checked {
        --background-active: var(--disabled-inner);
        --border-color: var(--border-default);
      }

      & + label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:disabled) {
        --active-inner: hsl(var(--color-primary-light-violet));
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &.switch {
      border-radius: 0.94rem;
      margin: 0 0.75rem;
      width: 2.69rem;

      &:after {
        background: var(--active-background, var(--active-inner));
        border-radius: 50%;
        height: 0.88rem;
        left: 0.25rem;
        top: 0.25rem;
        transform: translateX(var(--translate-x, 0));
        width: 0.88rem;
      }

      &:checked {
        --active-background: var(--active-inner);
        --translate-x: 1.25rem;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
