.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border: 1em solid var(--color-gray-300);
  border-top: 1em solid var(--color-violet-300);
  height: 7.5em;
  width: 7.5em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
